@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/Lato-Light.ttf) format('trueType');
}
*{
  font-family: Myfont;
}
.leaflet-container {
    background: #dfe6e9;
    /* background-image: url('./images/divider.png'); */
    z-index: 1;


}
.wholescreenApp {
  background-color: #dfe6e9;
  min-height: 100vh;
  width: 100%;
}
.wholescreen {
  background-color: #dfe6e9;
  min-height: 90vh;
  width: 100%;
}

.exitTutorial{
  position:absolute;
  right:10px;
  margin-top:-3px;
}
.exitTutorial:hover{
  cursor: pointer;
}
/* header */
.header{
  min-height: 10vh;
  background-color: #2a3446;
  z-index: 10;
  /* background-color: rgba(0, 0, 0, 0.2); */
  color: white;
  border: 0;
}
/* .container{
  margin:0px;
  padding:0px;
} */

.headerOnTop{
  height: 10vh;
  background-color: #2a3446;
  z-index: 10;
  /* background-color: rgba(0, 0, 0, 0); */
  color: white;
  border: 0;
}
.headerLogo{
  width: 100px;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.headerItem{
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.headerAnimation{
  position: absolute;
  left: 0;
  right:0;
  bottom:0;
  height: 3px;
  background-color: #2a3446;

}

.leaflet-bottom{
  position:absolute;
  left: 10px;
  top: -100px;
  z-index: 0;
}

.coloredText{
  color: red;
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  height: 10vh;
}

/*  */

/* modal */

/* Remove scroll on the body when react-modal is open */
.ReactModal__Body--open {
    overflow: hidden;
}

.signIn{
  color: 'white';
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading{

  height: 100vh;
  width: 100vw;
  z-index: 3;
  background-color: red;

  /* animation: flyleft 2s ease-in */
}
.login{
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.introPlane{
  position: absolute;
  left: -100px;
  height: 200px;
  width: 200px;
  overflow:visible;
}
@keyframes flyleft {
  from { transform: translateX(0); }
  to { transform: translateX(3000px); }
}
@keyframes flyUp {
  0% { transform: translateY(0); }
  70% { transform: translateY(-90vh);opacity:1; }
  100% { transform: translateY(-90vh); opacity:0; }
}
@keyframes flyUpInfo {
  0% { transform: translateY(100px); }
  100% { transform: translateY(0px); }
}


.searchbar{
  position: absolute;
  top:2vh;
  left: 30%;
  right: 30%;
  width: 40%;
  height: 34px;
  z-index: 2;
  border-color: none;
}

.search-btn{
   position: absolute;
   right: 2px;
   top: 2px;

   height:34px;
   color: #aaa;
   border-radius: 3px;
   padding: 5px;
   z-index: 2;
 }
 .search-btn:hover{
   cursor: pointer;

 }
 .searchform{

 }
 .searchform:focus {
    border-color:  #aaa;
}
 .searchItem{
   background-color: white;
   height: 30px;
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;padding: 5px;
 }
 .searchItem:hover{
   cursor: pointer;
   background-color: #dfe6e9;


 }
.turtorialPopupExit{
  position: absolute;
  right:200px;
  bottom:30px;
  height: 70px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #2a3446;
  color: white;
  border-radius: 5px;
  padding: 10px;
  z-index: 10;
  animation: flyUpInfo 200ms ease-in

}
.turtorialPopupExit{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

/*  */

/*Map components*/
.containerMap {
  min-height: 85vh;
}
/*infodiv right corner*/
.infoMapDiv{
  position: absolute;
  max-width: 20vw;
  right: 2vw;
  top: 2vh;
  padding: 5px;
  padding-left: 10px;
  background-color: white;
  z-index: 1000;
  border-radius: 10px;
}

.list_top3{
  margin-bottom: 5px;
  padding-top: 5px;
  font-size: 13px;
}

.uni{
  padding-top: 12px;
  color: black;
}

.uni:hover{
  cursor: pointer;
}
.country_displayed{
  margin-top: 0px;
  font-size: 20px;
}



/*resetzoom*/
.resetZoomButton{
  position: absolute;
  top: 72px;
  left: 10.7px;
  height: 33px;
  width:33px;
  background-color: white;
  z-index: 1000;
  border: 2px solid rgba(178, 184, 186, .5);
  border-radius: 3px;
  cursor: pointer;
  background-clip: padding-box;
}

.resetZoom{
  position: absolute;
  color: black;
  padding: 9px;
  width: 10px;
  height: 10px;
  margin-top: -2px;
}

.resetZoomButton:hover{
  background-color: #f4f4f4;
  text-decoration: none;
}

.mapbox{
  left: 0;
  right:0;
  height: 85vh;
  margin-top: 10vh;
}
.map{
  position: absolute;
  left: 0;
  right:0;
  z-index: 1;
  height: 85vh;
}
.infoContainerBackground{
  position: absolute;
  left: 0;
  right:0;
  z-index: 1;
  height: 85vh;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}
.infoContainer{
  position: absolute;
  left: 0;
  right:0;
  z-index: 1;
  min-height: 80vh;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 3vh;
  margin-bottom: 3vh;
  background-color: #2a3446;
  border-radius: 10px;
}
.mapInfo{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.infoRowHeader{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.infoRow{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.infoRowBar{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}
.infoRowPointer{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
}
.infoRowPointer:hover{
  cursor: pointer;
}
.infoCol{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.info{
  height: 20px;
  width:100px;
  background-color: red;
}
/**/

.cointainerForm{
  background-color: #dfe6e9;
  padding: 20px;

}


/* cart */
.cartList{
height: 250px;
margin-bottom: 10px;
margin-top: 10px;
}
.cart{
  min-height: 80vh;
  margin-top: 10vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.collegeItem{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #2a3446;
}
.collegeItem:hover {
    box-shadow: 10px 10px #d8dfe2;
    text-decoration: none;
    text-decoration-color: #2a3446;

}
.cartItem{
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.cartbuttons{
  margin-top: 20px;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/*  */

/* top searched */
.topSearched{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topSearchedCol{
  height: 200px;
  width: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #2a3446
}
/*  */
/* footer */

.footer {
  min-height: 83vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes scaleInfo{
  from {
    transform: scale(0,0);
  }

  to {
    transform: scale(1,1);

  }
}


.downscaleInfo{
  animation: downscaleInfo 1s ease-in forwards;

}
@keyframes downscaleInfo{
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);

  }
}

#mapid {
  height: 85vh;
}



.custom-marker{
  width: 50px;
  height: 100px;
  position: absolute;
  right:50vw;
  top:20vh;
  z-index: 2000;
}
.orange-marker{
  width:40px;
  height: 60px;
}


/*Statistikk*/
.sortButton{
  margin-top: 5px;
  border-radius: 5px;
  background-color: white;
}
